.wrapper {
  display: flex;
  flex-direction: column;
}

.hero {
  background: linear-gradient(to right, var(--primary-500), var(--primary-700));
  color: var(--white);
  padding: 60px 32px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroContent {
  position: relative;
  z-index: 1;
}

.heroTitle {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.heroSubtitle {
  font-size: 20px;
  padding-bottom: 32px; 
  max-width: 600px;
  margin: 0 auto;
}
.categorySection {
  text-align: center;
  padding: 32px 112px;
}

.sectionTitle {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
  color: var(--neutral-800);
}

.cardRow {
  display: flex;
  justify-content: center;
  gap: 32px;
}
