.banner {
    background-image: url('/public/banner-bg.jpg'); 
    background-size: cover;
    background-position: center;
    border-radius: 60px;
    color: var(--white);
    text-align: center;
    position: relative;
    overflow: hidden;
    max-width: 1216px;
    height: 360px;
    width: 100%;
    margin: auto;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 64px; 
  }
  
  .bannerTitle {
    font-size: 48px;
    font-weight: bold;
  }