.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 112px;
    background-color: var(--white);
    color: var(--white);
  }
  
  .logo img {
    height: 40px;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
  }
  
  .menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
  }
  
  .icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  
  .icon img {
    width: 100%;
    height: 100%;
  }
  
  .iconWithCounter {
    position: relative;
  }
  
  .counter {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: var(--primary-500);
    color: var(--white);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  